################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/MVCSinglePage/FileContentIndex/fcaa657e-c1b7-478d-a0e0-2fb52c83504b.vsidx
